.button {
  -fx-background-color: #FFF; /* White */
  -fx-text-fill: #000; /* Black */
}

.button:hover {
  -fx-background-color: #FF9900; /* Bright orange on hover */
  -fx-cursor: hand; /* Change cursor to hand */
}